In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data=pd.read_csv('train.csv')

In [3]:
train_data.head()

,id,click,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,1.000009e+18,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,2,15706,320,50,1722,0,35,-1,79
1,1.000017e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
2,1.000037e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15704,320,50,1722,0,35,100084,79
3,1.000064e+19,0,14102100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,...,1,0,15706,320,50,1722,0,35,100084,79
4,1.000068e+19,0,14102100,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,...,1,0,18993,320,50,2161,0,35,-1,157

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40428967 entries, 0 to 40428966
Data columns (total 24 columns):
 #   Column            Dtype
---  ------            -----
 0   id                float64
 1   click             int64
 2   hour              int64
 3   C1                int64
 4   banner_pos        int64
 5   site_id           object
 6   site_domain       object
 7   site_category     object
 8   app_id            object
 9   app_domain        object
 10  app_category      object
 11  device_id         object
 12  device_ip         object
 13  device_model      object
 14  device_type       int64
 15  device_conn_type  int64
 16  C14               int64
 17  C15               int64
 18  C16               int64
 19  C17               int64
 20  C18               int64
 21  C19               int64
 22  C20               int64
 23  C21               int64
dtypes: float64(1), int64(14), object(9)
memory usage: 7.2+ GB

In [5]:
test_data=pd.read_csv('test.csv')

In [6]:
test_data.head()

,id,hour,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,device_type,device_conn_type,C14,C15,C16,C17,C18,C19,C20,C21
0,1.000017e+19,14103100,1005,0,235ba823,f6ebf28e,f028772b,ecad2386,7801e8d9,07d7df22,...,1,0,8330,320,50,761,3,175,100075,23
1,1.000018e+19,14103100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,1,0,22676,320,50,2616,0,35,100083,51
2,1.000055e+19,14103100,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,1,0,22676,320,50,2616,0,35,100083,51
3,1.000109e+19,14103100,1005,0,85f751fd,c4e18dd6,50e219e0,51cedd4e,aefc06bd,0f2161f8,...,1,0,18648,320,50,1092,3,809,100156,61
4,1.000138e+19,14103100,1005,0,85f751fd,c4e18dd6,50e219e0,9c13b419,2347f47a,f95efa07,...,1,0,23160,320,50,2667,0,47,-1,221

In [7]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4577464 entries, 0 to 4577463
Data columns (total 23 columns):
 #   Column            Dtype
---  ------            -----
 0   id                float64
 1   hour              int64
 2   C1                int64
 3   banner_pos        int64
 4   site_id           object
 5   site_domain       object
 6   site_category     object
 7   app_id            object
 8   app_domain        object
 9   app_category      object
 10  device_id         object
 11  device_ip         object
 12  device_model      object
 13  device_type       int64
 14  device_conn_type  int64
 15  C14               int64
 16  C15               int64
 17  C16               int64
 18  C17               int64
 19  C18               int64
 20  C19               int64
 21  C20               int64
 22  C21               int64
dtypes: float64(1), int64(13), object(9)
memory usage: 803.2+ MB

## Data Preprocessing

In [8]:
train_data['hour'] = train_data['hour'].astype(str)

In [9]:
train_data['day'] = train_data['hour'].str[4:6].astype(int)  # Day
train_data['hour_of_day'] = train_data['hour'].str[6:8].astype(int)  # Hour of day
train_data['weekday'] = pd.to_datetime(train_data['hour'], format='%y%m%d%H').dt.weekday  # Weekday

In [10]:
train_data = train_data.drop(columns=['hour'])

In [11]:
train_data.head()

,id,click,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,C15,C16,C17,C18,C19,C20,C21,day,hour_of_day,weekday
0,1.000009e+18,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,320,50,1722,0,35,-1,79,21,0,1
1,1.000017e+19,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,320,50,1722,0,35,100084,79,21,0,1
2,1.000037e+19,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,320,50,1722,0,35,100084,79,21,0,1
3,1.000064e+19,0,1005,0,1fbe01fe,f3845767,28905ebd,ecad2386,7801e8d9,07d7df22,...,320,50,1722,0,35,100084,79,21,0,1
4,1.000068e+19,0,1005,1,fe8cc448,9166c161,0569f928,ecad2386,7801e8d9,07d7df22,...,320,50,2161,0,35,-1,157,21,0,1

## Encoding Categorical Variables

In [12]:
categorical_columns = train_data.select_dtypes(include='object').columns

In [13]:
for col in categorical_columns:
    train_data[col] = train_data[col].astype('category').cat.codes

In [14]:
train_data.head()

,id,click,C1,banner_pos,site_id,site_domain,site_category,app_id,app_domain,app_category,...,C15,C16,C17,C18,C19,C20,C21,day,hour_of_day,weekday
0,1.000009e+18,0,1005,0,582,7339,2,7884,254,0,...,320,50,1722,0,35,-1,79,21,0,1
1,1.000017e+19,0,1005,0,582,7339,2,7884,254,0,...,320,50,1722,0,35,100084,79,21,0,1
2,1.000037e+19,0,1005,0,582,7339,2,7884,254,0,...,320,50,1722,0,35,100084,79,21,0,1
3,1.000064e+19,0,1005,0,582,7339,2,7884,254,0,...,320,50,1722,0,35,100084,79,21,0,1
4,1.000068e+19,0,1005,1,4695,4456,0,7884,254,0,...,320,50,2161,0,35,-1,157,21,0,1

## Class Imbalance Check

In [15]:
click_distribution = train_data['click'].value_counts(normalize=True)

In [16]:
click_distribution

click
0    0.830194
1    0.169806
Name: proportion, dtype: float64

## Class Weighting

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
negative_samples = train_data['click'].value_counts()[0]
positive_samples = train_data['click'].value_counts()[1]
scale_pos_weight = negative_samples / positive_samples

In [19]:
X = train_data.drop(columns=['click', 'id'])  # Exclude target and identifier
y = train_data['click']

In [20]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [21]:
scale_pos_weight

4.889086426845714

In [22]:
import lightgbm as lgb
from sklearn.metrics import roc_auc_score

In [23]:
lgb_train = lgb.Dataset(X_train, label=y_train)

In [24]:
lgb_val = lgb.Dataset(X_val, label=y_val, reference=lgb_train)

In [25]:
params = {
    'objective': 'binary',
    'metric': 'auc',
    'boosting_type': 'gbdt',
    'scale_pos_weight': scale_pos_weight,  
    'learning_rate': 0.1,
    'num_leaves': 31,
    'max_depth': -1,
    'verbose': -1
}

In [26]:
early_stopping = lgb.early_stopping(stopping_rounds=10, verbose=True)

In [27]:
model = lgb.train(
    params=params,
    train_set=lgb_train,
    num_boost_round=100,
    valid_sets=[lgb_train, lgb_val],
    valid_names=["train", "valid"],
    callbacks=[early_stopping]
)

Training until validation scores don't improve for 10 rounds
Did not meet early stopping. Best iteration is:
[100]	train's auc: 0.737083	valid's auc: 0.736709

In [28]:
y_val_pred = model.predict(X_val)

In [29]:
auc_score = roc_auc_score(y_val, y_val_pred)
print(f"AUC-ROC Score: {auc_score}")

AUC-ROC Score: 0.736709157707006

In [30]:
feature_importances = model.feature_importance()
feature_names = X_train.columns
print(sorted(zip(feature_names, feature_importances), key=lambda x: x[1], reverse=True))

[('site_domain', 430), ('site_id', 370), ('app_id', 340), ('C14', 176), ('device_model', 166), ('C21', 165), ('site_category', 156), ('app_domain', 150), ('C19', 133), ('app_category', 120), ('C17', 108), ('C20', 96), ('banner_pos', 95), ('C18', 78), ('device_conn_type', 64), ('device_id', 59), ('hour_of_day', 57), ('C1', 55), ('C16', 50), ('device_type', 49), ('day', 41), ('C15', 31), ('weekday', 10), ('device_ip', 1)]